<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <title>Sign-Up Service</title>
        <!-- include bootstrap as a link so we can get the integrity hash -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

        <script src="js/app.js"></script>

        <link rel="stylesheet" href="css/main.css">
    </head>

    <body ng-app="validationApp" ng-controller="signupForm">
        <div class="container">
            <div class="page-header">
                <h1>Sign Up!</h1>
                <p>Our service is fun and awesome, but you must be 13 years old to join.</p>
            </div>

            <form id="submit" name="submit" novalidate>
                <div class="form-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" class="form-control" id="first-name" placeholder="first name" ng-model="user.first_name"/>
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" class="form-control" id="last-name" placeholder="last name" ng-model="user.last_name"/>
                </div>
                <div class="form-group">
                    <label for="birthdateInput">Birthdate:</label>
                    <input type="text" class="form-control" id="birthdateInput" name="birthdateInput" ng-model="user.birthdate" placeholder="your birthdate" validate-birthdate="user.birthdate" pattern="^((0?[1-9]|1[012])[-](0?[1-9]|[12][0-9]|3[01])[-](19|20)?[0-9]{2})*$" required>
                    <p class="validation-error" ng-if="submit.birthdateInput.$error.validateBirthdate && submit.birthdateInput.$dirty">You are not old enough to join! Try again later</p>
                    <p class="validation-error" ng-if="submit.birthdateInput.$error.pattern">Please enter your birthdate in the correct format (mm-dd-yyyy)</p>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" placeholder="email address" ng-model="user.email"/>
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password:</label>
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput" ng-model="signup.password" placeholder="Your password" ng-change="getStrength()" ng-style="" required>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="passwordStrength" aria-valuemin="0" aria-valuemax="100" ng-style="{width: passwordStrength + '%'}" ng-class="strengthClass">
                            {{strengthWord}}
                        </div>
                    </div>
                    <p class="validation-error" ng-if="submit.passwordInput.$error.required && submit.passwordInput.$dirty">Password is required</p>
                </div>
                <div class="form-group">
                    <label for="passwordConfirmInput">Confirm password:</label>
                    <input type="password" class="form-control" id="passwordConfirmInput" name="passwordConfirmInput" ng-model="signup.confirmPassword" placeholder="Confirm Password" compare-to="signup.password" required>
                    <p class="validation-error" ng-if="submit.passwordConfirmInput.$error.required && submit.passwordConfirmInput.$dirty">Must confirm your password</p>
                    <p class="validation-error" ng-if="submit.passwordConfirmInput.$error.compareTo && submit.passwordConfirmInput.$dirty">Passwords must match exactly</p>
                </div>
                <div class="form-group">
                    <button ng-click="resetForm();" class="btn btn-default">
                        Reset
                    </button>
                    <button class="btn btn-primary" ng-click="signUp();">
                        Sign me up!
                    </button>
                </div>
                <div class="alert alert-success" ng-show="formSuccess" role="alert">Your sign up was successful!</div>
            </form>
        </div>
    </body>
</html>
