<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Sign-Up Service</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body ng-app="validationApp" ng-controller="signupForm">
        <div class="container">
            <div class="page-header">
                <h1>Sign Up!</h1>
                <p>Our service is fun and awesome, but you must be 13 years old to join.</p>
            </div>

            <form novalidate id="submit" name="submit">
                <div class="form-group">
                    <label for="emailInp">Email</label>
                    <input type="email" class="form-control" ng-model="user.email" name="emailInp" id="emailInp" required/>

                    <p class="validation-error" id="invalidEmailAlert" ng-if="submit.emailInp.$dirty && submit.emailInp.$error.email && !submit.emailInp.$error.required">Please enter a valid e-mail</p>

                    <p class="validation-error" id="emptyEmailAlert" ng-if="submit.emailInp.$dirty && submit.emailInp.$error.required">Please enter an e-mail</p>
                </div>

            </form>
        </div>

    </body>
</html>
