<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <title>Sign-Up Service</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <script src="js/app.js"></script>

        <link rel="stylesheet" href="css/main.css">
    </head>

    <body ng-app="validationApp">
        <div class="container">
            <div class="page-header">
                <h1>Sign Up!</h1>
                <p>Our service is fun and awesome, but you must be 13 years old to join.</p>
            </div>

            <form id="submit" novalidate>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" placeholder="email address"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="password" placeholder="Your password" required>
                    <p class="validation-error" ng-if="submit.passwordConfirm.$error.required && submit.passwordConfirm.$dirty">Password is required</p>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm password:</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" required>
                    <p class="validation-error" ng-if="submit.passwordConfirm.$error.required && submit.passwordConfirm.$dirty">Must confirm your password</p>
                    <p class="validation-error" ng-if="submit.passwordConfirm.$error">Passwords must match exactly</p>
                </div>
            </form>
        </div>
    </body>
</html>
