@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body { font-family: Helvetica, sans-serif; font-size: 16px; }

h1, h2 { font-weight: 300; }

.validation-error { color: #de3333; font-weight: 300; }
